.avatar-icon{
  border-radius: 30%;
  width: 5vw;
  height: auto;
  object-fit: cover;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  text-transform: capitalize;

}

table{
  border-collapse: collapse;
  text-align: center;
  padding:1rem;
  width: 70%;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
tr:hover {background-color: #295391;}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.medal{
  font-size: 4rem;
}

.btn-leaderboard {
  display: inline-flex; /* Asegura que el contenido esté alineado */
  align-items: center; /* Centra verticalmente el SVG */
  justify-content: center; /* Centra horizontalmente el SVG */
  padding: 10px 20px; /* Ajusta el espacio interior del botón */
  background-color: transparent; /* Color de fondo */
  color: white; /* Color del texto o SVG */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Efecto suave en hover */
}

.btn-icon:hover {
  width: 30px; /* Ajusta el tamaño del SVG */
  height: 30px;
}

.btn-icon {
  width: 24px; /* Ajusta el tamaño del SVG */
  height: 24px; /* Mantén las proporciones */
}


