.avatar-icon{
  border-radius: 30%;
  width: 5vw;
  height: auto;
  object-fit: cover;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  text-transform: capitalize;

}

table{
  border-collapse: collapse;
  text-align: center;
  padding:1rem;
  width: 70%;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
tr:hover {background-color: #295391;}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.medal{
  font-size: 4rem;
}

.btn-leaderboard {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-icon:hover {
  width: 30px;
  height: 30px;
}

.btn-icon {
  width: 24px;
  height: 24px;
}


