<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Imagen</th>-->
<!--      <th>Posicion</th>-->
<!--      <th>Nombre</th>-->
<!--      <th>Descripción</th>-->
<!--      <th>Plataforma</th>-->
<!--      <th>Juego</th>-->
<!--      <th>Rareza</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<div class="container_big">
  <div class="user-info-inv"><img [src]="data.avatar" alt="'s avatar" class="avatar-icon" />
    <div class="username"><h1>{{ data.username.charAt(0).toUpperCase() + data.username.slice(1).toLowerCase() }}</h1></div>
    </div>
<div class="container_inv">
    <div *ngFor="let logro of data.achievements; let i = index">
<!--      <td>-->
        <div class="tooltip"><img [src]="logro.photo" alt="{{logro.name}}"  class="logro-image">
    <span class="tooltip-text"> <strong>{{logro.gameName}}</strong> <br>{{logro.name}} </span></div></div></div>
<!--      </td>-->
<!--      <td>{{i + 1}}</td>-->
<!--      <td>{{logro.name}}</td>-->
<!--      <td>{{logro.description}}</td>-->
<!--      <td>{{logro.platform}}</td>-->
<!--      <td>{{logro.gameName}}</td>-->
<!--      <td>{{logro.platform}}</td>-->
<!--      <td>{{logro.rarity}}</td>-->
<!--</table>-->
